<div class="entiry-action" id="contacts-bulk-actions">
  <%= button_tag (t :check_all), { type: :button, class: 'btn btn-xs btn-primary select-action select-all',
                                   id: 'select-all-contacts', data: { resource: 'contact' } } %>
  <%= button_tag (t :check_page), { type: :button, class: 'btn btn-xs btn-primary select-action select-page',
                                    id: 'select-page-contacts',  data: { resource: 'contact' } } %>
  <%= button_tag (t :uncheck_selected), { type: :button, class: 'btn btn-xs btn-default resource-action uncheck-selected',
                                          id: 'uncheck-selected-contacts',  data: { resource: 'contact' } } %>
  <%= button_tag (t :delete_selected), { type: :button, class: 'btn btn-xs btn-danger resource-action delete-selected',
                                         id: 'delete-selected-contacts', data: { resource: 'contact' } } %>
</div>